[v-cloak] { display:none; }

.userfeedback {
    background-color: #eee;
    padding: 3em 3em 1.5em;
    max-width: 400px;
}

.userfeedback__buttons {
    font-size: 22px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
}

.userfeedback__buttons svg {
    fill: #fff;
}

.userfeedback .btn {
    font-size: 1em;
    transition: all 0.15s ease;
}

.userfeedback textarea {
    margin-bottom: 1em;
}

.userfeedback .btn(type="submit") {
    font-size: 1.2em;
}

.userfeedback .btn:not(type="submit"):hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 8px rgba(0,0,0,.4);
}

